
@font-face{
		font-family:  "LobsterRegular";
		src: url("Fonts/lobsterRegular.ttf");
		src: url("Fonts/LobsterRegular.eot");
		src: url("Fonts/LobsterRegular.eot?#iefix")format("embedded-opentype"),
		url("Fonts/LobsterRegular.woff") format("woff"),
		url("Fonts/LobsterRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
body{
   display: flex;
    flex-direction: column;
}
#LobsterRegularogo{
	margin-left: 2%;
}
#Zaglavie{
	color: gold;
	font-size: 36px;
	font-family: LobsterRegular;
}
#BigHeder{ 
	margin-left: 1%;
	color: white;
	font-size: 18px;
	font-family: LobsterRegular;
}
#footer{
	padding-top: 1%;
	background-color: gray;
	   -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

}
#content{

		background-color: #8392a3;
		   -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    text-align: center;
    padding-bottom: 28%; 
}
#menu{
	background-color: #b2b3b8;
	margin-right: 2%;
	float: right;
border: solid 7px #a9a29e;
border-radius: 15%;

}
#button_login{
	background-color: #a9a29e;
	font-size: 19px;
	color: gold;
	font-weight: bold;

}
#logining_page{

}
#InfoBox{
	font-size: 17px;
	color: gold;
	font-weight: bold;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 2%;

}